* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*navbar */

.navbar{
    background: #445d74;
}
.navlink, .navbar{
    color: #f4f4f4; cursor: pointer;
}
.nav-link {
    margin-right: 1em;
}
.nav-link:hover{
    background: #f4f4f4; color:#445d74;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background: #fff;
}

.page-header{
    color: blueviolet;
    font-weight: bolder;
}

/* index page*/   
.paragraph{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
    height: 450px;
    width: 550px;
    background-color:lavender;
    padding: 30px;
    border: 5px solid plum;
    margin: 5px;
}

#image-me{
    border: 3px solid plum;
    border-radius: 4px;
    padding: 5px;
    width: 216px;
    height: 216px;
    margin-bottom: 25px;
    float: left;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    position: relative;
}


.footer h3 {
    font-size: 20px;
}

/*portfolio page*/
#page-header{
    margin-left:40em ;
    position: relative;
    width: 100%;
    padding: 20px;    
}


#Project1{
    margin-left:01em ;
    position: relative;
    width: 100%;
    padding: 20px;  
    margin-top:30px;
    text-align: center;
} 

#Superhero{
    height: 70%;
    width: 60%;
    padding-top:40px ;
    margin-top: 0px;
    position: relative;
    margin-left: auto;
    float: inherit;
}

 #Homework{
    margin-left:01em ;
    position: relative;
    width: 100%;
    padding: 40px; 
    margin-top:60px; 
    text-align: center; 
} 

 #Scheduler{
    height:70%;
    width: 60%;
    margin-bottom: 10px;
    position: relative;
    margin-left:auto;
    float: inherit;
}

h2{
  text-align: center;  
}

#contact{
    margin-top: 0;
    position:relative;
    margin-left:40% ;
    color: black;
    font-size:medium ;
    float: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infbox-size{
     height: 350px;
    width: 450px; 
    background-color: transparent;
    margin-left:0 ;
    float: inherit; 
} 

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
   
/*contact page*/

#box-cont {
    color: black;
    padding: 30px;
    margin-left: 40%;
}
#contact-form{
    margin-top: 20em 0;
    position:relative;
    margin-left:40% ;
    color: black;
}
#box-info{
    background-color:gray;
    width: 600px;
    height: 500px;
    padding: 30px;
    border: 5px solid plum;
    margin-left:40%;
    position: relative;
}

@media screen and (max-width:640px){
    body{
        background-color: dimgray;
    }

.container{
     /* Box-model */
     width: 100%;
     padding: 20px;
   }

   @media screen and (max-width:768px){
    body{
        background-color: dimgray;
    }

.container{
     /* Box-model */
     width: 100%;
     padding: 20px;
   }

   @media screen and (max-width:980px){
    body{
        background-color: dimgray;
    }

.container{
     /* Box-model */
     width: 100%;
     padding: 20px;
   }